* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #966335, #582F0E);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 3rem
}

.container {
    background-color: rgb(209 124 22 / 2%);
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2), 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #faffdf;
}

form p {
    margin: 1rem 0;
}

label {
    display: block;
    font-size: 0.9rem;
    color: #C2C5AA;
    margin-bottom: 0.5rem;
}

input {
    width: calc(100% - 20px);
    background-color: #9d8f2661;
    padding: 10px;
    border: none;
    /* border: 1px solid #e2e8f0; */
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: inset 1px 2px 9px rgb(0 0 0 / 17%);
}

button {
    background-color: #a9a54a32;
    color: #fcf8e7;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: scale(1.03);
}

#results {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #faffdf;
    font-weight: bold;
}

#weight-guide {
    margin-top: 2rem;
    background: #656d4a1f;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.219);
}

#weight-guide h3 {
    font-size: 1.2rem;
    color: #faffdf;
    margin-bottom: 0.8rem;
}

#weight-guide p {
    font-size: 0.9rem;
    color: #C2C5AA;
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .container {
        padding: 15px 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    #weight-guide h3 {
        font-size: 1rem;
    }

    #weight-guide p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    button {
        padding: 6px 10px;
        font-size: 0.8rem;
    }

    label {
        font-size: 0.8rem;
    }

    input {
        font-size: 0.9rem;
    }
}